*{
    padding: 0;
    margin:0;
    font-family: Roboto, arial;
   
}
body{
    padding-bottom: 200px;
    padding-top: 80px;
    padding-left: 90px;
    padding-right: 40px;
}
a{
    text-decoration: none;
    color: black;
}
